@mixin headers {
  h1 {
    opacity: 1;
    color: rgba(10, 102, 123, 1);
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    margin-bottom: 30px;
    line-height: $line-height;
  }

  h2 {
    color: $primary-color;
    font-weight: 700;
    letter-spacing: 0px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    line-height: $line-height;
  }

  h3 {
    color: $primary-color;
    font-weight: 700;
    letter-spacing: 0px;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    $line-height: 110%;
  }
}

@mixin images {
  img {
    max-width: 100%;
    height: auto;
    border-radius: 25%;
  }
}

@mixin button {
  border-radius: 24px;
  box-shadow: 15px 20px 50px rgba(172, 37, 110, 0.2);
  color: #fff;
  text-decoration: none;
  line-height: 48px;
  padding: 0 38px;
  display: inline-block;
}

@mixin flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

@mixin text-p {
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 400;
  text-align: center;
  line-height: $line-height;
}

@mixin text-strong {
  color: $primary-color;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  text-align: center;
}
