h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
body {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

@import 'variables';
@import 'mixins';
@include images;
@include headers;

body {
  font-family: $font-family;
  background-color: #f9f4f8;
  font-size: $font-size;
  color: $text-color;
  line-height: $line-height;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

//top
.top {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin: 15px 0 20px;
  .top__logo {
    width: 8rem;
  }

  .top__right {
    @include text-strong;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}

@media screen and (min-width: $tablet) {
  .top {
    flex-direction: row;
    justify-content: space-between;
  }
}

// menu
.menu {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7em;
  margin: 1.5em auto;

  &:hover {
    background-color: #f9f4f8;
  }
  a {
    padding: 10px 15px;
    text-decoration: none;
    color: $primary-color;
    &:hover {
      color: $secondary-color;
    }
  }
}

@media screen and (min-width: $tablet) {
  .menu {
    flex-direction: row;
    width: 30%;
    justify-content: center;
  }
}

//header
.header {
  @include flex;
  margin-bottom: $bottom-section;
}

.header__left {
  @include flex;
  text-align: center;
  .header__text {
    font-size: 18px;
    font-weight: 400;
    line-height: $line-height;
  }
}

.header__right {
  text-align: center;
  margin: 0 auto;
  img {
    border-radius: 15% 15% 0 0;
    max-width: 100%;
  }

  div {
    padding: 1rem 1rem 0;
    background: #f9f4f8;

    p {
      padding-bottom: 23px;
    }
  }
}

.main-button {
  @include button;
}

.main-button__pink {
  background-color: $secondary-color;
}

.main-button__blue {
  background-color: $primary-color;
}
.flex {
  @include flex;
}

//proc
.proc {
  text-align: center;
  margin-bottom: $bottom-section;
  .proc__text {
    @include text-p;
    padding-bottom: 23px;
  }
}

.grid {
  display: grid;
  gap: 15px;
  .grid__item {
    p {
      @include text-strong;
    }
    img {
      width: 10%;
      padding-bottom: 10px;
    }
  }
}

@media screen and (min-width: $tablet) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    .grid__item {
      img {
        width: 15%;
      }
    }
  }
}

// reseni
.reseni {
  text-align: center;
  margin-bottom: $bottom-section;
  .reseni__text {
    @include text-p;
    padding-bottom: 25px;
  }

  .reseni__flex {
    @include flex;
    .reseni__flex--strong {
      @include text-strong;
    }
    img {
      padding-bottom: 25px;
    }
  }
}

@media screen and (min-width: $tablet) {
  .reseni {
    .reseni__flex {
      flex-direction: row;
    }
  }
}

//krok
.prvni-krok {
  @include flex;
  text-align: center;
  margin-bottom: $bottom-section;
  background: #fff;
  padding: 20px 0;
  border-radius: 15%;
  .krok__text {
    @include text-p;
  }
}

// vybralo
.vybralo {
  text-align: center;

  .vybralo__flex {
    @include flex;
    p {
      @include text-p;
    }
  }

  .vybralo__flex--reverse {
    margin-bottom: $bottom-section;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: $tablet) {
  .vybralo {
    text-align: center;

    .vybralo__flex {
      flex-direction: row;

      .vybralo__flex--mob p {
        padding-bottom: 45px;
      }
    }
  }
}
