h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
body {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

@media screen and (min-width: 740px) {
  img {
    max-width: 100%;
    height: auto;
    border-radius: 25%;
  }
}
img {
  max-width: 50%;
  height: auto;
  border-radius: 25%;
}

h1 {
  opacity: 1;
  color: rgb(10, 102, 123);
  font-family: "Gilroy-Bold";
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 100%;
}

h2 {
  color: #0a667b;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
  line-height: 110%;
}

h3 {
  color: #0a667b;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 20px;
  text-align: center;
}

body {
  font-family: "Gilroy", Arial;
  background-color: #f9f4f8;
  font-size: 16px;
  color: #000000;
  line-height: 110%;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin: 15px 0 20px;
}
.top .top__logo {
  width: 8rem;
}
.top .top__right {
  color: #0a667b;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

@media screen and (min-width: 740px) {
  .top {
    flex-direction: row;
    justify-content: space-between;
  }
}
.menu {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7em;
  margin: 1.5em auto;
}
.menu:hover {
  background-color: #f9f4f8;
}
.menu a {
  padding: 10px 15px;
  text-decoration: none;
  color: #0a667b;
}
.menu a:hover {
  color: #d6368c;
}

@media screen and (min-width: 740px) {
  .menu {
    flex-direction: row;
    width: 30%;
    justify-content: center;
  }
}
.header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-bottom: 55px;
}

.header__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
}
.header__left .header__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
}

.header__right {
  text-align: center;
  margin: 0 auto;
}
.header__right img {
  border-radius: 15% 15% 0 0;
  max-width: 100%;
}
.header__right div {
  padding: 1rem 1rem 0;
  background: #f9f4f8;
}
.header__right div p {
  padding-bottom: 23px;
}

.main-button {
  border-radius: 24px;
  box-shadow: 15px 20px 50px rgba(172, 37, 110, 0.2);
  color: #fff;
  text-decoration: none;
  line-height: 48px;
  padding: 0 38px;
  display: inline-block;
}

.main-button__pink {
  background-color: #d6368c;
}

.main-button__blue {
  background-color: #0a667b;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.proc {
  text-align: center;
  margin-bottom: 55px;
}
.proc .proc__text {
  color: #000000;
  font-family: "Gilroy", Arial;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 110%;
  padding-bottom: 23px;
}

.grid {
  display: grid;
  gap: 15px;
}
.grid .grid__item p {
  color: #0a667b;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  text-align: center;
}
.grid .grid__item img {
  width: 10%;
  padding-bottom: 10px;
}

@media screen and (min-width: 740px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
  .grid .grid__item img {
    width: 15%;
  }
}
.reseni {
  text-align: center;
  margin-bottom: 55px;
}
.reseni .reseni__text {
  color: #000000;
  font-family: "Gilroy", Arial;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 110%;
  padding-bottom: 25px;
}
.reseni .reseni__flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.reseni .reseni__flex .reseni__flex--strong {
  color: #0a667b;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  text-align: center;
}
.reseni .reseni__flex img {
  padding-bottom: 25px;
}

@media screen and (min-width: 740px) {
  .reseni .reseni__flex {
    flex-direction: row;
  }
}
.prvni-krok {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
  margin-bottom: 55px;
  background: #fff;
  padding: 20px 0;
  border-radius: 15%;
}
.prvni-krok .krok__text {
  color: #000000;
  font-family: "Gilroy", Arial;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 110%;
}

.vybralo {
  text-align: center;
}
.vybralo .vybralo__flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.vybralo .vybralo__flex p {
  color: #000000;
  font-family: "Gilroy", Arial;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 110%;
}
.vybralo .vybralo__flex--reverse {
  margin-bottom: 55px;
  flex-direction: column-reverse;
}

@media screen and (min-width: 740px) {
  .vybralo {
    text-align: center;
  }
  .vybralo .vybralo__flex {
    flex-direction: row;
  }
  .vybralo .vybralo__flex .vybralo__flex--mob p {
    padding-bottom: 45px;
  }
}/*# sourceMappingURL=style.css.map */